.MainBox {
    margin: 50px auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 5px;
}

.NumberBox {
    width: 150px;
    height: 80px;
    border: 1px solid yellow;
    margin: 10px auto;
    border-radius: 5px;
    background-color: gold;
    font-size: 3em;
    padding-top: 15px;
    text-align: center;
}

.NumberBoxDisable {
    width: 150px;
    height: 80px;
    border: 1px solid yellow;
    margin: 10px auto;
    border-radius: 5px;
    background-color: gold;
    font-size: 3em;
    padding-top: 15px;
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}

.ButtonBox {
    display: flex;
    width: 150px;
    height: 50px;
    border: 2px solid yellow;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    justify-content: space-around;

}

.ButtonBox .inc {
    margin-top: 10px;
    background-color: gold;
    width: 50px;
    height: 25px;
    border-radius: 5px;

}

.ButtonBox .reset {
    margin-top: 10px;

    background-color: gold;
    width: 50px;
    height: 25px;
    border-radius: 5px;
}
