.MainBox {
    display: block;
    margin: 50px auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: #9c27b0;
    border-radius: 5px;
}

.NumberBox {
    width: 170px;
    height: 80px;
    border: 1px solid #ffcf33;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #ffcf33;
    font-size: 3em;
    padding-top: 15px;
    text-align: center;
}

.NumberBoxDisable {
    color: #9c27b0;
    font-weight: bold;
}

.ButtonBox {
    display: flex;
    width: 170px;
    height: 50px;
    border: 2px solid #ffcf33;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    justify-content: space-around;

}

.ButtonBox .UnButton {
    margin-top: 10px;
    background-color: #ffcf33;
    width: 50px;
    height: 25px;
    border-radius: 5px;

}


.SettingsMainBox {
    display: block;
    margin: 50px auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: #9c27b0;
    border-radius: 5px;
}

.SettingBox {
    display: block;
    width: 170px;
    height: 80px;
    border: 1px solid #ffcf33;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #ffcf33;
    padding-top: 15px;

}
.ValueString {
    display: flex;
    margin: 5px;
    justify-content: space-around;

}

.InputNumber {
    width: 50px;
    height: 15px;
}
.InputNumberError {
    background-color:rgba(255, 0, 0, 0.5);
}
